h1
{
    font-size:3em;
}

h2
{
    font-size:2.5em;
}

div
{
    width: 50%;
    margin: 0 auto;
}

body{
    background-color:black;
    color:red;
}

a
{
    color:#76FF03;
    font-size:1.5em;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

a:hover
{
    color:blue;
}
