p
{
    font-size:1.5em;
}

/*start of navbar styling*/
.navbar-default
{
    background-color: #2979FF;
}

.navbar-default .navbar-brand {
    color: #212121;
}

.navbar-default .navbar-brand:hover {
    color: #BDBDBD;
}

.nav.navbar-nav li a {
    color: white;
    -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
}

.nav.navbar-nav li:hover a {
    color: blue;
    background:white;
}

 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: black;
      background: white;
 }

 .navbar-default .navbar-nav > .active > a:hover
 {
     color:blue;
 }

 .dropdown-menu
 {
     background-color:rgb(41,121,255);
 }

 /*end of navbar styling*/

.carousel-indicators li {
    background-color: dodgerblue;
}

.carousel-indicators .active {
    background-color: lightgreen;
}

.hiddenText{
    display:none;
    padding-left:12px;
}

#introduction
{
    background-image: url("images/dublinbackground.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   color:white;
    padding-top:30px;
    height: 100vh;

}

#introduction .row
{
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

#introduction .container-fluid
{
    background-color: rgba(41, 121, 255,0.5);
}

#introduction img
{
    max-width:220px;
    max-height:220px;
    float:left;
}

#introduction #aboutMeText
{
    float:right;
    
}

/*//bradsknutson.com/blog/css-button-with-sliding-background-color/*/
.button_sliding_bg {
    color: #31302B;
    background: #FFF;
    padding: 12px 17px;
    margin: 25px;
    font-family: 'OpenSansBold', sans-serif;
    border: 3px solid #31302B;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #31302B;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;

}
    .button_sliding_bg:hover {
        box-shadow: inset 0 100px 0 0 #31302B;
        color: #FFF;
    }

    .button_sliding_bg a{
        text-decoration:none;
        color: #31302B;
    }
    .button_sliding_bg:hover a{
        color:#fff;
    }
    .button_sliding_bg:hover a:visited{
        color: #fff;
    }

    .button_sliding_bg a:visited{
        color: #31302B;
    }

    .button_sliding_bg a:hover
    {
        color: #FFF;
    }

#displayHotelImagesButton 
{
    max-width: 258px;
    margin: 0 auto;
}

.alert
{
    display:none;
}

.element
{
    max-width:1000px;
    margin-left: auto ;
  margin-right: auto ;
}

.fa-twitter:hover
{
    color:dodgerblue;
}

.fa-linkedin:hover
{
    color:blue;
}

.fa-github:hover {
    color: mediumpurple;
}

#education,#about,#bourguest,#projects,#homesecurity,#experience{
    padding-top:30px;
}

#education h1, #about h1, #bourguest h2, #hotelProject h2, #homesecurity h2,#experience h1,#projects h1{
    text-align:center;
}

#bourguest p, #hotelProject p, #homesecurity p,#about p
{
    text-align:center;
}

#bourguest img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#hotelCarousel .item img{
    width:100%;
}

#contactform
{
    overflow:auto;
}

#contactform .error
{
    color: red;
}

#sendMessageButton
{
    float:right;
}

/*Accordion css*/
.first-panel
{
    padding-top:20px;
}

.panel-title
{
    text-align:center;
}

.panel-group .panel-default .panel-heading{
    background-color:#2979FF;
    color:white;
}
/*end of accordion css*/

/*footer styling*/
#footer{
    background-color: #2979FF;
    overflow:auto;
}

#footer p
{
    color:white;
    font-size:1em !important;
}

#footer a
{
     color: white;
    -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  /* ...and now override with proper CSS property */
  transition:color .2s ease-out, background 1s ease-in;
  text-align:center;
}

#footer a:hover
{
    color:blue;
}

/*slide animation  //www.w3schools.com/bootstrap/tryit.asp?filename=trybs_theme_company_complete_animation*/
.slideanim {
    visibility:hidden;

}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*End of animations*/

/*used to scale introduction section for mobile devices*/
@media (max-width: 480px) {
    #introduction {
        height: 100%;
    }

    #introduction .row{
        margin:0 auto;
    }

    .hiddenText {
        display: inline;
    }

    #displayHotelImagesButton {
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    #introduction {
        height: 100%;
    }
     #introduction .row{
        margin:0 auto;
    }
}

@media (max-width: 767px) {
    .hiddenText {
        display: inline;
    }
}